.popup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 22px;
  box-sizing: border-box;
  width: 100%;
  max-width: 282px;
  background-color: #fff;
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media (min-width: 550px) {
  .popup__container {
    max-width: 430px;
    padding: 34px 36px 36px;
  }
}