.cards__like_active:disabled {
    opacity: 1;
    background-image: url(../../../../images/Union.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }