.profile__title {
  color: #fff;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
}

@media (min-width: 550px) {
  .profile__title {
   text-align: start;
   font-size: 42px;
   line-height: 114%;
   max-width: 300px;
  }
}

@media (min-width: 590px) {
  .profile__title {
   max-width: 350px;
  }
}