.profile__info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0;
  padding-top: 26px;
  padding-bottom: 14px;
  grid-area: name;
}

@media (max-width: 750px) {
  .profile__info {
    justify-self: center;
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
  .profile__info {
    padding-left: 10px;
    padding-top: 20px;
    gap: 12px;
    align-self: baseline;
    justify-self: start;
  }
}


