.profile__info {
  display: flex;
  flex-direction: row;
  gap: 18px;
  margin: 0;
  padding: 21px 10px 0;
  grid-area: name;
}

@media (max-width: 750px) {
  .profile__info {
    justify-self: center;
    margin: 0 auto;
    padding: 0;
  }
}

@media (max-width: 650px) {
  .profile__info {
    gap: 12px;
    align-self: baseline;
    justify-self: start;
    padding-top: 26px;
    padding-left: 26px;
  }
}


